@import '../../site.css';

.container {
  display: flex;
  flex-direction: row;
}

.box {
  width: 700px;
  height: 500px;
}

.textWrapper-profile {
  display: flex;
  flex-direction: column;
  margin: 3vh 0 0 3vw ;
}

.title {
  font-family: var(--defaultSerifFont);
  font-size: 32px;
  color: var(--siteDarkColor);
  letter-spacing: 0.2em;
}

.link-profile {
  text-decoration: none;
  color: var(--siteDarkColor);
  font-family: var(--defaultSanSerifFont);
}

.link-profile:hover {
  cursor: pointer;
  color: var(--siteGreen);
}
