@import '../site.css';

.container-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.introImage {
  width: 70%;
  height: auto;
  margin: 0 5vw 0 7vw;
}

.title-about {
  font-family: var(--defaultSanSerifFont);
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 14px;
  color: var(--siteGreen);
}

.text-about {
  font-family: var(--defaultSanSerifFont);
  font-size: 18px;
  max-width: 1400px;
}

.button-wrapper {
  margin-top: 3vh;
}

.button-link {
  color: var(--siteDarkColor);
  margin: 0 18px 0 0;
}

.button-link:hover {
  cursor: pointer;
  color: var(--siteYellow);
}
