@import '../site.css';

.root {
  padding: 8vh 8vw 8vh 8vw;
  min-width: 500px;
}

.introWrapper {
  display: flex;
  align-content: center;
  margin-bottom: 12vh;
}

.introTitle {
  font-family: var(--defaultSerifFont);
  font-size: 48px;
  margin: 12vh 0 4vh 0;
}

.introText {
  font-family: var(--defaultSanSerifFont);
  font-size: 24px;
}

.resume {
  width: 50%;
  height: auto;
}
