a {
  color: #8aa48c;
  text-decoration: none;
}

a:hover{
  text-decoration: wavy underline;
}

.hero {
  display: flex;
  margin-bottom: 2em;
  align-items: flex-end;
}

.profile-pic {
  margin-right: 2.5em;
}
